@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowMenu = ViewBag.ShowMenu ?? true;
}
@inject BTCPayServer.Services.BTCPayServerEnvironment env

<section >
    <div class="row">
        <div class="col-2 ml-2" >
            <div class="">              
                <h4 class="section-heading">@ViewData["MainTitle"]</h4>
                <h6 class="section-heading">@ViewData["Title"]</h6>
                <hr class="primary ml-0">
            </div>
            <div>
                @if (ViewBag.ShowMenu)
                {
                    @await Html.PartialAsync("_Nav")
                }
            </div>

        </div>


        <div class="col-8">
            @RenderBody()
        </div>
    </div>


</section>
@section HeadScripts {
    @RenderSection("HeadScripts", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
